

*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

nav{
  background: #000000a3;
  border-bottom: 3px solid #1D8D9E;
}


body{
font-family: 'Roboto', sans-serif;
margin: 0px;
padding: 0px;
box-sizing: border-box;


}


p{
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
  text-transform: capitalize;

}




/*======User icon Start========*/

.top-part{
  background:black;
}


.top-right{
	float: right;
	
}


.user-icon ul{
	margin: 0px;
	padding: 0px;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
.user-icon ul li{
	display: inline-block;
	margin-top: 10px;
	text-transform: uppercase;
	
}
.user-icon ul li a{

	color:white;
	border-radius: 3px;
	display: block;
	padding: 8px;
	transition: 0.5s;
	
}
.user-icon ul li a:hover{
	

border-radius: 3px;
color:gold;
text-decoration: none;
}

.user-icon ul li a:hover .fab{
	
transform: rotateX(360deg);
transition: 0.5s

}

/*======User  icon End=========*/









/*body-part star*/
.body-part{

background: url('./img/last/soft3.jpg');
 
  background-position: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  background-size: 100% 100%;
 



}
/*body-part end*/




.style-bottom{
  position: relative;
  width: 40px;
  height: 3px;
  background: #99cc33;
  margin: auto;
  top: 7px;
  box-sizing: border-box;
 

}

.style-bottom:after{
content:""; 
position: absolute;
left: -10px;
right: -10px;
background:#999999; 
height: 1.5px;
top: 1px;

z-index: -9;
box-sizing: border-box;

}


.work-process  h1  span{
  color:#99cc33;

}
/*body-part star*/




.work-option{
margin-top: 263px;
    padding: 74px;
}
.work-option h1{
  font-size: bold;
}


/*******************body-part end*****************************/








/*&&&&&&&&&&&&&&  Need Work Process start &&&&&&&&&&&&&*/

.card img{
width: 100px;
margin: auto;  
}



.card img{
width: 100px;
 box-shadow: 0 4px 8px 0 green;
  transition: 0.5s;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  margin-top: 25px;
  
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.card:hover{
  
  transition: all ease 2s;
  border: 2px solid white;
}




/*===========Need Work Process end==========*/








/*About US Start*/


.about-heading h2{
font-size: 40px;
padding: 10px;
 font-family: 'PT Sans', sans-serif;
font-weight: 700;

}



.about-details p{
padding: 10px;
font-size: 16px;
text-align: justify;

}

/*About US Start*/



/* Fotter area strt*/



.top-right  .social-icon ul{
	margin: 0px;
	padding: 0px;


}
 .top-right  .social-icon ul li{
	display: inline-block;
	margin-top: 10px;
	text-transform: uppercase;
	


}
.top-right .social-icon ul li a{

	color:white;
	border-radius: 3px;
	display: block;
	padding: 8px;
	transition: 0.5s;
	
}
.top-right .social-icon ul li a:hover{
	

border-radius: 3px;
color:red;
text-decoration: none;
}

.top-right .social-icon ul li a:hover .fab{
	
transform: rotateX(360deg);
transition: 0.5s

}


/* Fotter area End*/















/*Home Video Start*/


.home-video{

background: url('../img/photo gullery/get1.jpg');
	background-size:cover;
	background-attachment:fixed;
	
background-repeat:no-repeat;
	min-height:250px;
}
 .dark-overlay{
	background-color: #343a40b5;
	
}
.home-video .dark-overlay  .fab{
	font-size: 50px;
	

}
/*Home Video End*/




/*photo gallery start*/

.photo-gallery img{
min-height: 250px;
}

.photo-gallery h2{
  color: black;
  text-shadow: 2px 2px 4px #000000;

}

.photo-gallery p{
  color: black;
  text-shadow: 2px 2px 4px #000000;

}

.photo-card:hover{

	transform: scale(1.1);
	transition: all ease 1s;

}

.photo-card:hover{

	transform: scale(1.1);
	transition: all ease 1s;

}




/*photo gallery end*/




/*



.Services-area h2{
  color: red;
  text-shadow: 2px 2px 4px #000000;

}


/*tap area start*/






/*tap area start*/

.hosting-title h1 {

	background:#ff0080;
	padding: 10px;
}


.all-Blog{
	padding: 2px 5px;
	border-radius: solid 1px red;
	
}


/*start all blog*/
.all-Blog a h6{
	display: inline-block;
	text-decoration: none;
	margin:0 5px;


}
 .all-Blog a h6{
	background:green;
	font-size: 18px;
	border-radius: 3px;
	display: block;
	padding: 5px;
	transition: 0.5s
}
.all-Blog a:hover h6{
	
background:red;
border-radius: 3px;
color:white;
}
/*end*/












/*get start*/
.get-start{
  background: url('../img/last/soft3.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 300px;
  
}
 .dark-overlay{
  background-color: #343a40b5;
  width: 100%;
  height: 100%;


}
/*get End*/



/*Home Video Start*/


.home-video{

background: url('./img/photo gullery/get1.jpg');
  background-size:cover;
  background-attachment:fixed;
  
background-repeat:no-repeat;
  min-height:250px;
}
 .dark-overlay{
  background-color: #343a40b5;
  
}
.home-video .dark-overlay  .fab{
  font-size: 50px;
  

}
/*Home Video End*/




/*photo gallery start*/

.Mobile-Photo-Gallery img{
min-height: 250px;
}

.Mobile-photo-gallery h2{
  color: #09e2ed;
 text-shadow: 3px 3px 6px gold;

}

.Mobile-photo-gallery p{
 color: black;
 text-shadow: 3px 3px 6px gold;

}

.photo-card:hover{

	transform: scale(1.1);
	transition: all ease 1s;

}

.photo-card:hover{

	transform: scale(1.1);
	transition: all ease 1s;

}


/*..........*/

.subscribe-us-area{
box-shadow: 2px 2px 5px green;

}
/*js ui*/

 .ui-accordion .ui-accordion-header {
color: white;
    font-size: 20px;
 }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid gold;
    background:#0eafb5;
    color: black;
    
}


.question-title
{
 box-shadow: 2px 2px 4px #1ac92f;
}



/*MIXIT AREA BLOG PART*/









/********** section 1 **************/

.section-1 {
  padding: 20vmin 0vmin;
}

.section-1 .row .col-md-6 .pray img {
  opacity: 0.8;
  width: 80%;
  border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -18vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

/*  Section 2  */

.cover {
  width: 100%;
  height: 55vmin;
  background: url("../img/last/soft4.jpg");
  background-position: -24rem -19rem;
  background-size: 100%;
  position: relative;
}

.cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.cover .content {
  width: 100%;
  height: 100%;
  background: #9999ff;
  padding-top: 19vmin;
}
.cover .content > h1 {
  font-family: var(--Patua);
  font-size: 6vmin;
  color: black;
}

.cover .content > p {
  font-family: var(--Rubik);
  font-size: 2vmin;
  color:  #b30000;
}

.numbers .rect {
  position: relative;
  z-index: 1;
  background: white;
  width: 17rem;
  height: 12rem;
  padding-top: 3.5vmin;
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

.numbers {
  margin-top: -15vmin;
}

.numbers .rect h1 {
  font-size: 5rem;
  color: tomato;
}

.numbers .rect > p {
  font-family: var(--Patua);
}

.purchase > h1 {
  padding-top: 15vmin;
  padding-bottom: 0.1em;
  font-family: var(--Lobster);
}

.purchase > p {
  color: var(--light-black);
  font-size: 3vmin;
  padding-bottom: 10vmin;
}






/* Section 3 */

.section-3 {
  height: 50vmin;
  margin-top: 15vmin;
  background: var(--bggradient);
}

.section-3 .col-md-12 > h1 {
  padding: 2em 0 0.5em 0;
  color: whitesmoke;
  font-size: 6vmin;
}

.section-3 .col-md-12 > p {
  padding: 0 4em;
  padding-bottom: 2em;
  color: var(--light-gray);
  font-size: 3vmin;
}

.section-3 .desktop {
  background: white;
  display: inline-block;
  border-radius: 3em;
  padding: 2vmin 4.5vmin;
  margin: 1em;
}

.section-3 .desktop h3 {
  font-size: 4vmin;
}

.section-3 .desktop p {
  font-size: 2vmin;
}




/*form...........*/
.sign-img img{
width:100%;
}



/*======= login  start==========*/





.content {
  padding: 120px 0px; }
  .content .team-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
    .content .team-content h2 {
      max-width: 700px;
      font-size: 40px;
      font-family: 'Roboto', sans-serif;
      color: #444;
      font-weight: 600;
      line-height: 1.5;
      margin: 0 0 30px 0;
      margin-left: auto;
      margin-right: auto; }
    .content .team-content p {
      max-width: 800px;
      line-height: 1.8;
      font-weight: 300;
      font-family: 'Roboto', sans-serif !important;
      color: #555;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      margin-bottom: 65px; }
    .content .team-content a {
      display: inline-block;
      border-bottom: 1px solid #1abc9c;
      padding: 0 2px;
      margin-bottom: 160px;
      font-family: 'Roboto', sans-serif !important;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      color: #1abc9c;
      transition: all .25s ease;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease; }
      .content .team-content a:hover {
        color: #222;
        border-bottom: 1px solid #555;
        transition: all .25s ease;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease; }
  .content .team-box {
    text-align: center; }
    .content .team-box .member-img {
      position: relative; }
      .content .team-box .member-img:hover:after {
        opacity: 1;
        transition: all .25s ease;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease; }
      .content .team-box .member-img:after {
        position: absolute;
        content: '';
        background: #ffffffcf;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 0;
        transition: all .25s ease;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease; }
      .content .team-box .member-img .member-social-link {
        opacity: 0;
        position: absolute;
        bottom: 30px;
        left: 50%;
        z-index: 9;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%); }
        .content .team-box .member-img .member-social-link ul {
          display: flex; }
          .content .team-box .member-img .member-social-link ul li {
            overflow: hidden; }
            .content .team-box .member-img .member-social-link ul li a {
              width: 40px;
              height: 40px;
              display: inline-block;
              padding: 8px 12px;
              color: #555;
              overflow: hidden;
              border-radius: 8px;
              transition: all .1s ease;
              -webkit-transition: all .1s ease;
              -moz-transition: all .1s ease;
              -ms-transition: all .1s ease;
              -o-transition: all .1s ease;
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              -ms-border-radius: 8px;
              -o-border-radius: 8px; }
              .content .team-box .member-img .member-social-link ul li a svg {
                transition: all .25s ease;
                -webkit-transition: all .25s ease;
                -moz-transition: all .25s ease;
                -ms-transition: all .25s ease;
                -o-transition: all .25s ease;
                transform: translateY(0px);
                -webkit-transform: translateY(0px);
                -moz-transform: translateY(0px);
                -ms-transform: translateY(0px);
                -o-transform: translateY(0px); }
              .content .team-box .member-img .member-social-link ul li a .next-icon {
                margin-top: 12px; }
              .content .team-box .member-img .member-social-link ul li a:hover svg {
                transition: all .25s ease;
                -webkit-transition: all .25s ease;
                -moz-transition: all .25s ease;
                -ms-transition: all .25s ease;
                -o-transition: all .25s ease;
                transform: translateY(-30px);
                -webkit-transform: translateY(-30px);
                -moz-transform: translateY(-30px);
                -ms-transform: translateY(-30px);
                -o-transform: translateY(-30px); }
              .content .team-box .member-img .member-social-link ul li a:hover {
                color: #fff;
                transition: all .1s ease;
                -webkit-transition: all .1s ease;
                -moz-transition: all .1s ease;
                -ms-transition: all .1s ease;
                -o-transition: all .1s ease; }
            .content .team-box .member-img .member-social-link ul li .fb:hover {
              background: #3b5999;
              transition: all .25s ease;
              -webkit-transition: all .25s ease;
              -moz-transition: all .25s ease;
              -ms-transition: all .25s ease;
              -o-transition: all .25s ease; }
            .content .team-box .member-img .member-social-link ul li .lin:hover {
              background: #55acee;
              transition: all .25s ease;
              -webkit-transition: all .25s ease;
              -moz-transition: all .25s ease;
              -ms-transition: all .25s ease;
              -o-transition: all .25s ease; }
            .content .team-box .member-img .member-social-link ul li .ins:hover {
              background: #e4405f;
              transition: all .25s ease;
              -webkit-transition: all .25s ease;
              -moz-transition: all .25s ease;
              -ms-transition: all .25s ease;
              -o-transition: all .25s ease; }
      .content .team-box .member-img:hover .member-social-link {
        opacity: 1; }
    .content .team-box .member-name {
      padding-top: 30px; }
      .content .team-box .member-name h4 {
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #444;
        line-height: 1.5; }
      .content .team-box .member-name span {
        font-style: normal;
        color: #999;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        margin-top: 2px; }

.project-wrap {
  background-color: #f9f9f9; }
  .project-wrap .porfolio-container {
    text-align: center; }
    .project-wrap .porfolio-container h2 {
      max-width: 800px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 30px;

margin-top: -50px;

      font-weight: 300;
      color: #444;
      line-height: 1.5;
      font-family: 'Source Sans Pro', sans-serif !important;
      padding: 60px 0px; }
    .project-wrap .porfolio-container .portfolio-inner {
      position: relative; }
      .project-wrap .porfolio-container .portfolio-inner:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        opacity: 0;
        transition: all .25s ease;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease; }
      .project-wrap .porfolio-container .portfolio-inner:hover:after {
        transition: all .25s ease;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        opacity: 1; }
      .project-wrap .porfolio-container .portfolio-inner img {
        width: 100%; }
      .project-wrap .porfolio-container .portfolio-inner .porfolio-bg {
        width: 100%; }
      .project-wrap .porfolio-container .portfolio-inner .portfolio-content {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 9;
        opacity: 0;
        transform: translate(-50%, -100%);
        -webkit-transform: translate(-50%, -100%);
        -moz-transform: translate(-50%, -100%);
        -ms-transform: translate(-50%, -100%);
        -o-transform: translate(-50%, -100%);
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease; }
        .project-wrap .porfolio-container .portfolio-inner .portfolio-content h3 {
          font-size: 22px;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 2px; }
          .project-wrap .porfolio-container .portfolio-inner .portfolio-content h3 a {
            color: #333 !important;
            text-decoration: none; }
        .project-wrap .porfolio-container .portfolio-inner .portfolio-content span {
          margin-top: 12px;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 1px;
          font-weight: 300; }
          .project-wrap .porfolio-container .portfolio-inner .portfolio-content span a {
            color: #999 !important;
            text-decoration: none; }
      .project-wrap .porfolio-container .portfolio-inner:hover .portfolio-content {
        opacity: 1;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease; }
    .project-wrap .porfolio-container .view-button a {
      text-decoration: none;
      display: inline-block;
      letter-spacing: 2px;
      font-size: 13px;
      text-transform: uppercase;
      border: 2px solid #444;
      background-color: transparent;
      color: #333;
      font-weight: 600;
      text-shadow: none;
      padding: 8px 22px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      margin-top: 60px;
      transition: all .3s ease;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease; }
      .project-wrap .porfolio-container .view-button a:hover {
        background-color: #444;
        font-weight: 700;
        color: #fff;
        border-color: transparent !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease; }

/*# sourceMappingURL=style.css.map */


/* last-row*/

.last-row ul{
  list-style: none;
}